HW_SOAP_DotNet/HW_SOAP_DotNet/Service References/ServiceReference1/ola1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://app/" targetNamespace="http://app/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cumprimentar" type="tns:cumprimentar" />
  <xs:element name="cumprimentarResponse" type="tns:cumprimentarResponse" />
  <xs:complexType name="cumprimentar">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cumprimentarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>